body {
    margin: 10;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    color: #212529;
    text-align: left;
    background-color: #fff;

}
.navegacion {
    background: #212529 ;
    color: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navegacion-large {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navegacion-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-content{
    color: rgba(0,0,0,.9);
    text-decoration: none
}
.nav-link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
a{
    text-decoration: none;
    color: white;
    
}
ul{
    display: flex;
}
h1{
    margin: auto;
    align-content: center;
}
.principal{
    width: 50%;
    margin: auto;

}
form{
    padding: 60px;
    max-width: 400px;
    background-color: #E7E7E7;
    margin: 0 auto;
  }
  
  form input, form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: horizontal; 
  }
  .texto{
      color: black;
      font-size: 25px;
  }
.tabla {
    width: 90%;
    margin-bottom: 1rem;
    color: #212529;
    margin:auto;
    border-collapse: collapse;
}
.tabla thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.tabla td, .tabla th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
h1{
    margin-left: 2%;
}
.tabla td, .tabla th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}